<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amazing_chess">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.playboard.BlueBoard" />
        <activity android:name=".views.playboard.VmsBoard" />
        <activity android:name=".views.menu.WaitingActivity" />
        <activity android:name=".views.register.RegisterActivity" />
        <activity android:name=".views.leaderBoard.LeaderBoardActivity" />
        <activity android:name=".views.menu.JoinRoomActivity" />
        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.login.LoginActivity" />
        <activity android:name=".views.menu.CreateRoomActivity" />
        <activity android:name=".views.menu.MenuActivity" />
        <activity android:name=".views.playboard.ClassicBoard" />
        <activity android:name=".views.splashScreen.SplashScreenActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>